<!DOCTYPE html>
<html lang="en">
<head>

  <%= stylesheet_link_tag 'application' %>
  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">


  <%= javascript_include_tag "application" %>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <%= javascript_pack_tag "application" %>

  <script>
      AOS.init({
          duration: 800,
          easing: 'slide',
          once: true
      });
  </script>


  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

  <style media="screen">
    a{
      margin-left:  7px !important;
      margin-right: 7px !important;
    }
    input{
      margin-right: 7px !important;
      margin-left: 7px !important;
    }
    .tab {
      display: none;
    }

    .tab.active {
      display:block;
    }

    a.active-btn{
      background-color: #000;
      text: white
      height:

    }
    @media (max-width: 800px){
      a.header-button{
        margin-bottom: 8px ;
        margin-top: 8px;
      }

    }


    .btn-tab{
      text-align: center;
    }

    .carousel{
      width: auto !important;
    }



  </style>


  <title>JetSent.io &mdash; </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
  <style media="screen">
      a{
          margin-left:  7px !important;
          margin-right: 7px !important;
      }
      input{
          margin-right: 7px !important;
      }
  </style>

</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

<div class="site-wrap">

  <header class=" py-0 bg-white js-sticky-header site-navbar-target" style=" padding: 0px !important;" role="banner">

  <div class="site-mobile-menu site-navbar-target ">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>



  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="home-section">
      <!-- <div class="col-6 col-xl-6"> -->
        <h1 class="mb-0 site-logo" style="position: initial;padding-bottom: 0px;"><a href="#" class="text-black mb-0">JetSent<span class="text-primary">.</span>io</a></h1>

      <!-- </div> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
     </button>



               <!-- <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                   <form class="form-inline">
                       <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                       <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                     </form>

                    <a href="#" class="btn btn-primary rounded-0">Subscribe</a>

                    <span class="navbar-text">
                      Navbar text with an inline element
                    </span>
               </div> -->
               <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                   <ul class="navbar-nav mr-auto">
                     <li class="nav-item active">
                       <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                     </li>
                     <li class="nav-item">
                       <a class="nav-link" href="#">Features</a>
                     </li>
                     <li class="nav-item">
                       <a class="nav-link" href="#">Pricing</a>
                     </li>
                   </ul>
                   <span class="navbar-text">
                       <a href="#" class="btn btn-primary rounded-1">Subscribe</a>
                   </span>
                 </div>

  </nav>





  <p id="error"><%= flash[:error] %></p>
  <p id="notice"><%= flash[:notice] %></p>
  </header>
</div>



  <div class="site-blocks-cover overlay" style="background-image: url(<%= asset_path 'hero_2.jpg' %>" data-aos="fade" data-stellar-background-ratio="0.5">

    <div class="container">
      <div class="row align-items-center justify-content-center">
          <%= render "layouts/modal" %>

        <div class="col-md-12" data-aos="fade-up" data-aos-delay="400">

          <div class="row mb-9">
            <div class="col-md-9">
              <h1 class="flash_1">Shop the World</h1>
              <h1 class="flash_2">Earn as You Fly! </h1>
              <p class="mb-5 lead font-weight-bold">
                JetSent connects shoppers and travelers to access the world's best products.</p>
                <div>
                <a href="#" class="btn header-button btn-white btn-outline-white py-3 px-5 mb-lg-0 d-block d-sm-inline-block">Shop Now</a>
                <a href="#" class="btn header-button btn-white py-3 px-5 d-block d-sm-inline-block">Earn</a>
                </div>
                <br>
              <!--
                <%= form_for @subscriber, :html => {:class => 'form-inline'} do |f| %>
                  <%=  f.text_field :email, class: 'form-control', :type=>"tel", :placeholder=>"", :id=>"telephone", style: "height:60%"  %>
                  <%= f.submit 'Subscribe',:onclick => "return alert('Are you sure data once submitted cant be changed?')", class: 'btn btn-white', style: "height:100%"  %>
                <% end %>
              -->

            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="site-section border-bottom" id="team-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <!--<h3 class="section-sub-title">W</h3> -->
        <h2 class="section-title mb-3">What We do!</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
        <div class="person text-center">
          <img src="images/model_1_bg.jpg" alt="Image" class="img-fluid rounded w-75 mb-3">
          <h3>Shoppers</h3>
          <p class="position text-muted">Shop Abroad From Hom</p>
          <p class="mb-4">Sit back and relax at home while you shop around the world. Whether looking to save, or buy luxury from abroad  - come to us for what you need!</p>

        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
        <div class="person text-center">
          <img src="images/product_1_bg.jpg" alt="Image" class="img-fluid rounded w-75 mb-3">
          <h3>Travellers</h3>
          <p class="position text-muted">Cover Cost of Flying</p>
          <p class="mb-4">Want to make a bit of extra cash on your holiday? The average Traveller earns a commission of $50 per purchase - with
            an average of 250$ per flight.</p>

        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="300">
        <div class="person text-center">
          <img src="images/model_5_bg.jpg" alt="Image" class="img-fluid rounded w-75 mb-3">
          <h3> Travel Agents </h3>
          <p class="position text-muted">Get Commissions</p>
          <p class="mb-4">We are looking to Partner with you! Advertisers earn commission for referrals. Hot destinations include
            Brazil, Argentina, Emirates, Russia and China. We give 50%</p>

        </div>
      </div>
    </div>
  </div>
</div>





<div class="site-section bg-light" id="services-section">


  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h3 class="section-sub-title">Easy as 1-2-6</h3>
        <h2 id="how_header" class="section-title mb-3">How it works!</h2>
        <div class="lightswitch">
          <a href="#travelers" class="btn btn-tab ">Travelers</a>
          <a href="#shoppers" class="btn btn-tab active-btn">Shoppers</a>
        </div>

      </div>
    </div>
    <div class="tabs">
      <div class= "tab active"id="shoppers">
        <div class="row align-items-stretch">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4 underline"><span class="fas fa-link"></span></div>
              <div>
                <h3>1. Get A Link</h3>
                <p>Find a link for a product anywhere in the world you like, and paste it into the search bar above! Proceed to Checkout.  </p>
                <hr>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4 underline"><span class="fas fa-handshake"></span></div>
              <div>
                <h3>2. Match with Deliverer</h3>
                <p>Once you have placed your order, a trusted deliverer will match with you to fulfil your orders.</p>
                <hr>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4 underline"><span class="fa fa-cart-arrow-down"></span></div>
              <div>
                <h3>3. Confirm Order Details</h3>
                <p> Agree a Time, Pick-Up Location and Commission to Pay the deliverer. </p>
                <hr>
              </div>
            </div>
          </div>


          <!-- 2nd row -->

          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="300">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4 underline"><span class="fa fa-money-bill-alt"></span></div>
              <div>
                <h3>4. Payment</h3>
                <p>Pay using our third party escrow. The deliverer will not be
                  paid until your order is fulfilled. </p>
                <hr>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="400">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4 underline"><span class="fa fa-people-carry"></span></div>
              <div>
                <h3>5. Order Fulfilled</h3>
                <p>We use tracking information to monitor whether an order is fulfilled. Once it is, payment from the escrow
                  moves to the deliverer. </p>
                <hr>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="500">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4 underline"><span class="fa fa-couch"></span></div>
              <div>
                <h3>6. Relax!</h3>
                <p>Once your order has been fulfilled, you can kick back, relax and enjoy the product!</p>
                <hr>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div id="travelers" class="tab">
        <div class="row align-items-stretch">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4 underline"><span class="text-primary">1</span></div>
              <div>
                <h3>Search for Deliveries</h3>
                <p>Find a link for a product anywhere in the world you like, and paste it into the search bar above! Proceed to Checkout.  </p>
                <hr>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4 underline"><span class="text-primary">2</span></div>
              <div>
                <h3>Match with the Shopper</h3>
                <p>Once you have placed your order, a trusted deliverer will match with you to fulfil your orders.</p>
                <hr>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4 underline"><span class="text-primary">3</span></div>
              <div>
                <h3>Confirm Order Details</h3>
                <p> Agree a Time, Pick-Up Location and Commission to Pay the deliverer. </p>
                <hr>
              </div>
            </div>
          </div>


          <!-- 2nd row -->

          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="300">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4 underline"><span class="text-primary">4</span></div>
              <div>
                <h3>Payment</h3>
                <p>Pay using our third party escrow. The deliverer will not be
                  paid until your order is fulfilled. </p>
                <hr>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="400">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4 underline"><span class="text-primary">5</span></div>
              <div>
                <h3>Order Fulfilled</h3>
                <p>We use tracking information to monitor whether an order is fulfilled. Once it is, payment from the escrow
                  moves to the deliverer. </p>
                <hr>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="500">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4 underline"><span class="text-primary">6</span></div>
              <div>
                <h3>Relax!</h3>
                <p>Once your order has been fulfilled, you can kick back, relax and enjoy the product!</p>
                <hr>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

<!-- count down to launch -->

<div class="site-blocks-cover overlay get-notification" id="special-section" style="background-image: url(<%= asset_path "hero_2.jpg" %>); background-attachment: fixed; background-position: top;" data-aos="fade">
  <div class="container">

    <div class="row align-items-center justify-content-center">
      <div class="col-md-7 text-center">
        <h3 class="section-sub-title">Become a Jet-Setter</h3>
        <h3 class="section-title text-white mb-4">Launch Countdown</h3>
        <p class="mb-5 lead">Sign up before the exclusive offer expires. We are offering 50% discounts on commissions if you sign early. </p>

        <div id="date-countdown" class="mb-5"></div>

        <p><a href="#" class="btn btn-white btn-outline-white py-3 px-5 rounded0 mb-lg-0 mb-2 d-block d-sm-inline-block">Shop Now</a></p>
      </div>
    </div>

  </div>
</div>



<!-- About section! -->


  <div class="site-section" id="about-section">
    <div class="container">
      <div class="row align-items-lg-center">
        <div class="col-md-8 mb-5 mb-lg-0 position-relative">
          <img src="images/e2.png" class="img-fluid" alt="Image">
          <div class="experience">
            <span class="year">Trusted E-Commerce</span>
            <span class="caption">Venture Backed</span>
          </div>
        </div>
        <div class="col-md-3 ml-auto">
          <h3 class="section-sub-title">E-Commerce</h3>
          <h2 class="section-title mb-3">About</h2>
          <p class="mb-4">JetSent is on a mission to open up the world's markets.
            Jetsent came about when one of the co-founders, Max, started thinking about the many trips family members from Africa and friends from China
          </br>
            had made to Europe to purchae luxury fashion. Driven from these frustrations, we wanted to build an easier way for friends and family to shop
            cheaply.
          </p>
          <p><a href="#" class="btn btn-black btn-black--hover rounded0">Learn More</a></p>
        </div>
      </div>
    </div>
  </div>

<!--

  <div class="site-section border-bottom" id="team-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h3 class="section-sub-title">Team</h3>
          <h2 class="section-title mb-3">Leadership</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-6 mb-6 mb-lg-6" data-aos="fade" data-aos-delay="100">
          <div class="person text-center">
            <img src="images/person_2.jpg" alt="Image" class="img-fluid rounded w-75 mb-3">
            <h3>Maximilian Chamberlin</h3>
            <p class="position text-muted">Co-Founder, Executive Officer</p>
            <p class="mb-4">Maximilian studied Computer Science and Philosophy at Oxford. He has a Machine Learning Master's which was funded by Google and Microsoft.
            </p>
            <ul class="ul-social-circle">
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-linkedin"></span></a></li>
              <li><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 mb-6 mb-lg-6" data-aos="fade" data-aos-delay="200">
          <div class="person text-center">
            <img src="images/person_3.jpg" alt="Image" class="img-fluid rounded w-75 mb-3">
            <h3>Tom Sharp</h3>
            <p class="position text-muted">Co-Founder, Executive Officer</p>
            <p class="mb-4">Edozie is an alumnus of Harvard University Computer Science Bachelor's Program. He has two sisters who model clothes on the runway and has always been passionate about fashion and e-commerce.</p>
            <ul class="ul-social-circle">
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-linkedin"></span></a></li>
              <li><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

-->
<!-- site section -->



  <div class="site-section testimonial-wrap" id="testimonials-section">
    <div class="container">
      <h3 class="section-sub-title">People Say</h3>
      <h2 class="section-title mb-3">Testimonials</h2>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
          <div class="item carousel-item active">
            <div class="img-box"><img src="/images/person_3.jpg" alt=""></div>
            <p class="testimonial">Do you know how a child looks when she get candy before lunch? That’s me today with my new Gucci purse. I got it from JetSent  and I was really surprised how much cheaper It was!</p>
            <p class="overview"><b>Michael Holz</b>Seo Analyst at <a href="#">OsCorp Tech.</a></p>
            <div class="star-rating">
              <ul class="list-inline">
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
              </ul>
            </div>
          </div>
          <div class="item carousel-item">
            <div class="img-box"><img src="/images/person_2.jpg" alt=""></div>
            <p class="testimonial">I absolutely love traveling. South America was definitely on the top of my list. A friend told me about JetSent and when I heard that I could make money traveling to South America, I jumped on the opportunity.</p>
            <p class="overview"><b>Paula Wilson</b>Media Analyst at <a href="#">SkyNet Inc.</a></p>
            <div class="star-rating">
              <ul class="list-inline">
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
              </ul>
            </div>
          </div>
          <div class="item carousel-item">
            <div class="img-box"><img src="/images/person_1.jpg" alt=""></div>
            <p class="testimonial">One more testimonial</p>
            <p class="overview"><b>Antonio Moreno</b>Web Developer at <a href="#">Circle Ltd.</a></p>
            <div class="star-rating">
              <ul class="list-inline">
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
          <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
          <i class="fa fa-angle-right"></i>
        </a>
      </div>

  </div>
  </div>


  <footer class="site-footer bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-5 text_center">
              <h2 class="footer-heading mb-4">About Us</h2>
              <p>JetSent is on a mission to open up the world's markets. We put trust and integrity at the core of our business so that you can be assured of payment and goods delivered. </p>
            </div>
            <div class="col-md-5 text_center">
              <h2 class="footer-heading mb-4">Subscribe now</h2>

                <%= form_for @subscriber, :html => {:class => 'form-inline'} do |f| %>
                  <%=  f.text_field :email, class: 'form-control', :type=>"tel", :placeholder=>"", :id=>"telephone", style: "height:60%"  %>
                  <%= f.submit 'Subscribe',:onclick => "return alert('Are you sure data once submitted cant be changed?')", class: 'btn btn-primary', style: "height:100%"  %>
                <% end %>

            </div>

            <!-- <div class="col-md-4 text_center">
              <h2 class="footer-heading mb-4">Follow Us</h2>
              <a href="#" class="pl-0 pr-3"><i class="fab fa-facebook"></i></a>
              <a href="#" class="pl-3 pr-3"><i class="fab fa-twitter"></i></a>
              <a href="#" class="pl-3 pr-3"><i class="fab fa-instagram"></i></a>
              <a href="#" class="pl-3 pr-3"><i class="fab fa-linkedin"></i></a>
            </div> -->
          </div>
        </div>

      </div>
      <div class="row pt-5 mt-5 text-center" style="margin-top:10px !important; padding-top: 10px !important;">
        <div class="col-md-12">
          <div class="border-top pt-5">
            <p>
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | JetSent.io </a>
            </p>
          </div>
        </div>

      </div>
    </div>
  </footer>

</div>


  <script>
      jQuery(document).ready(function() {
          jQuery('.lightswitch a').on('click', function(e) {
              console.log("fkafsd")
              var currentAttrValue = jQuery(this).attr('href');
              console.log("the attr value " + currentAttrValue);


              // Show/Hide Tabs
              jQuery('.tabs ' + currentAttrValue).show().siblings().hide();

              // Change/remove current tab to active
              jQuery(this).addClass('active-btn').siblings().removeClass('active-btn');

              e.preventDefault();
          });
      });
  </script>
<!-- .site-wrap -->






<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>

<script src="js/jquery.stellar.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/bootstrap-datepicker.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/aos.js"></script>

<script src="js/jquery.fancybox.min.js"></script>
<script src="js/jquery.sticky.js"></script>


<script src="js/main.js"></script>

<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->

</body>
</html>
